<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/372bff88-789a-4dfc-bde2-9cacd3246490/resourcegroups/UserFeedbackApp/providers/Microsoft.ContainerRegistry/registries/UserFeedbackAppRegistry</ContainerResourceId>
    <ContainerResourceName>UserFeedbackAppRegistry</ContainerResourceName>
    <Subscription>Glenn's PAYG Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>userfeedbackappregistry.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>userfeedbackappcontainer</ContainerName>
    <EnvironmentName>UserFeedbackApp-Env</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://userfeedbackapp.bravestone-823a460a.eastus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/372bff88-789a-4dfc-bde2-9cacd3246490/resourceGroups/UserFeedbackApp/providers/Microsoft.App/containerApps/userfeedbackapp</ResourceId>
    <ResourceGroup>UserFeedbackApp</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>